@tailwind base;
@tailwind components;
@tailwind utilities;


/* .navbar_link:hover {
    color: red;
    transition: all 0.4s;

} */

.navbar_link::after {
    position:absolute;
    content: "";
    background-color: #FF8f9c;
    height: 3px;
    width: 100px;
    bottom: -5px;
    left:0;
    scale:0;
    transform-origin:left;
    transition: all 0.4s;

}

/* .navbar_link:hover::after {
    scale:1;
} */

